/*Op de start pagina van Xerte  - CSS:*/

.erasmus-youtube-container {
    position: relative;
    display: inline-block;
    margin-top: -30px;
}

.erasmus-youtube-cover {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    pointer-events: all;
    z-index: 1;
    left: 0;
    opacity: 1;
    background-color: #142840;
    background-image: url('https://xoteur.12change.eu/USER-FILES/1072-354009-ErasmusMC/media/play_button.png');
    background-repeat: no-repeat;
    background-size:10%;
    background-position: center;
}

.erasmus-youtube-cover.show {
    opacity: 0;
    transition: opacity 0.5s 1s;
    pointer-events: none;
    background-image: url('https://xoteur.12change.eu/USER-FILES/1072-354009-ErasmusMC/media/loading.gif');
}

.erasmus-youtube-container:before, .erasmus-youtube-cover:before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    /*max-width: 640px;*/
    height: 60px;
    pointer-events: all;
    background-color:#99D6EE;
    z-index: 1;
}

.erasmus-youtube-container:after, .erasmus-youtube-cover:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    /*max-width: 640px;*/
    height: 45px;
    pointer-events: all;
    background-color: #99D6EE;
    z-index: 1;
}
